#title {
    background-color: #ff4c68;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
    margin-bottom: 120px;
}

/* Navigation Bar */
.navbar {
    padding-bottom: 70px;
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

/* Features */

.about-feature {
    margin-bottom: 120px;
}

#features h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

#features i {
    color: #ef8172;
    font-size: 4rem;
    padding-bottom: 1rem;
}

#features i:hover {
    color: #ff4c68;
}

#features p {
    color: #8f8f8f;
    width: 70%;
    text-align: center;
}
