{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi there! My name is Sahil and I am a college student studying computer science. I have
                            always been interested in technology and programming, and decided to pursue it as a career.</p>
                        <hr class="my-4" />
                        <p> In my free time, I enjoy learning about new technologies, and
                            working on personal projects to improve my skills. I am also a member of my college's
                            computer science club, where I have the opportunity to work on group projects and
                            collaborate with other like-minded students. I am excited to continue my education and
                            eventually enter the workforce as a programmer.</p>
                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}
