body {
    margin: 0;
    background-color: black;
    color: white;
}

section {
    padding: 7% 15%;
}

.big-heading {
    font-family: "Crimson Text", sans-serif;
    font-size: 3.4rem;
    padding-right: 10%;
}

.section-heading {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 7%;
}

.sub-heading {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    margin-bottom: 5%;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    line-height: 30px;
    font-weight: 300;
    padding-bottom: 1rem;
}

hr {
    width: 75%;
    margin: auto;
}

.highlight {
    color: #ea0f1e;
}

.full-para {
    padding-right: 16%;
}

/* Introduction */

#intro {
    background-image: url("/images/lion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* About */

.game {
    float: right;
    margin-left: 10%;
    margin-bottom: 20%;
}

/* Work Experience */

.card {
    width: 300px;
    height: 350px;
    margin: 3% 10% 5%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #ccc;
    display: inline-block;
}

.card img {
    width: 100%;
    height: 60%;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-family: "Lato", sans-serif;
    margin: 0;
    font-size: 24px;
}

/* Skills */

#skills {
    text-align: left;
}

.skill-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
}

.skill {
    width: 30%;
    margin: 1% 9%;
    text-align: left;
}

.skill h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.skill-bar {
    width: 100%;
    height: 15px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}

.skill-fill {
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.skill-fill.python {
    width: 90%;
    background-color: #0448dc;
}

.skill-fill.cpp {
    width: 85%;
    background-color: #ce0606;
}

.skill-fill.java {
    width: 70%;
    background-color: #06ce35;
}

.skill-fill.html {
    width: 80%;
    background-color: #ce4206;
}

.skill-fill.css {
    width: 75%;
    background-color: #3da0e1;
}

.skill-fill.javascript {
    width: 70%;
    background-color: #f1c40f;
}


