{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="heading">Select Movie</h1>
        <br>
        {% for movie in search_list %}
            <p>
                <a href="{{ url_for('add',
                    movie_title=movie['original_title'],
                    movie_date=movie["release_date"],
                    movie_description=movie["overview"],
                    movie_img_url=movie["poster_path"]) }}">
                    {{ movie['original_title'] }} - {{ movie['release_date'] }}
                </a>
            </p>
            <br>
        {% endfor %}
    </div>
{% endblock %}